<settings>
<category label="General">
<setting id="venue" label="Venue" type="bool" default="true" />
<setting id="view" label="Big List View id" default="51" />
<setting id="addons.ini" label="addons.ini" type="file" mask="addons.ini" />
<setting id="m3u" label="m3u Channels" type="file" mask="*.m3u|*.m3u8" />
<setting type="sep" />
<setting id="thefixtures.days" label="The Fixtures days" type="number" default="2" />
<setting type="sep"/>
<setting id="autoplay" label="Play Match if Only One Channel" type="bool" default="false" />
</category>
<!--
<setting id="country" label="Country Code" type="select" default="all" values="all|ai|al|ao|ar|au|az|ba|be|bg|br|ca|ch|cn|cy|cz|de|dk|en|es|fi|fr|gr|hk|hr|hu|id|ie|il|in|ir|is|it|jp|kr|lv|mt|mx|my|nl|no|nz|pl|pt|qa|ro|rs|ru|s2|se|sg|si|sk|th|tr|ua|uk|us|vn|wa|za" />
<setting id="timezone" label="Time Zone" type="select" default="None" values="None|-12:00|-11:00|-10:00|-09:00|-08:00|-07:00|-06:00|-05:00|-04:00|-03:00|-02:00|-01:00|+00:00|+01:00|+02:00|+03:00|+04:00|+05:00|+06:00|+07:00|+08:00|+09:00|+10:00|+11:00|+12:00" />

<setting id="channels" label="Append Channels" type="bool" default="false" />
<setting id="channels.prefix" label="List by Channels" type="bool" default="false" />
<setting id="channels.hide" label="Hide Unplayable Matches" type="bool" default="false" />

<setting type="sep"/>
<setting id="autoplay" label="Play Match if Only One Channel" type="bool" default="false" />
<setting id="stop" label="Stop After Autoplay" type="bool" default="true" />
</category>
<category label="Backup">
<setting label="Export Channel Mappings" type="action" action="RunPlugin(plugin://plugin.program.tardis-fixtures/export_mapping)" />
<setting label="Import Channel Mappings" type="action" action="RunPlugin(plugin://plugin.program.tardis-fixtures/import_mapping)" />
</category>
-->
</settings>